@charset "utf-8";

/*
    Semester 1 Assignment
    Delightful Departure Funeral Website

    Delightful Departure Design CSS
    Author: Goh Kar Hang
    Date: 24 September 2023
    Filename: design.css
*/

#title {
    color: white;
    text-align: center;
}

.sub-title {
    font-size: 20px;
    padding-left: 10px;
}

#sub-title {
    font-size: 20px;
}

.content {
    backdrop-filter: blur(2px);
    color: white;
    backdrop-filter: blur(2px);
    margin-left: 50px;
    margin-right: 50px;
}

div.details {
    display: flex;
}

p.details {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.service-photo {
    flex: 1;
    display: flex;
    width: 300px;
    height: 200px;
    padding: 10px;
}