@charset "utf-8";

/*
    Semester 1 Assignment
    Delightful Departure Funeral Website

    Delightful Departure Goods CSS Styles
    Author: Liow Zhen Bang
    Date: 22 July 2023
    Filename: goods_styles.css
*/


/* This only contains CSS Style for transport page, for header, footer, go to main_styles.css */

/* Name of vehicles */

/* The title */
.container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

#cart-icon {
  cursor: pointer;
  width: 40px;
}

.cart-icon-img {
  width: 20px;
}

.cart-top {
  width: 20px;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  right: -100%; 
  width: 360px;
  height: 95%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: #000000;
  box-shadow: -2px solid 4px hsl(0 4% 15% / 10%);
  border: 1px solid white;
  transition: 1.5s;
}

.cart.active {
  right: 0;
  transition: .5s;
  background-color: #000000;
}

.cart-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  color: #FFFFFF;

}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}

.detail-box {
  display: grid;
  row-gap: 2px;
}

.cart-product-title{
  font-size: 20px;
  color: #FFFFFF;
}

.cart-price {
  font-weight: 500;
  color: #FFFFFF;
}

.cart-quantity {
  border: 1px solid #FFFFFF;
  outline-color: #FFFFFF;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove {
  font-size: 24px;
  color: red;
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  border-top: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.total-title {
  font-size: 15px;
  font-weight: 600;
  color: #FFFFFF;
}

.total-price {
  margin-left: 5px;
}

.cartpricedesc {
  margin-left: 5px;
  color: #FFFFFF;
}

.btn-buy{
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background-color: gray;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 15px;
}

.btn-buy:hover{
  background-color: yellow;
  color: #000000;
}

#cart-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 40px;
}

.shop {
  margin-top: 2rem;
}

.section-title {
  font-style: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}

.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 10px;
  max-width: 700px;
}

.product-box, .product-box-pride {
  position: relative;
  background-color: #000000;
  border: 2px solid white;
  border-radius: 15px;
  transition: transform 0.3s;
}

.product-box:hover{
  transform: scale(0.9);
}

.product-box-pride:hover{
  transform: scale(0.9);
  animation: rainbow 0.5s linear infinite;
}

.product-img{
  width: 100%;
  object-fit: cover;
  background-image: url(/medias/images/zhenbang/goods/goodsbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.product-title{
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
}

.product-price{
  color: white;
  font-weight: 500;
}

.add-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  color: black;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.8s ease;
  width: 15px;
}

.add-cart:hover{
  background-color: gray;
  color: #FFFFFF;
  transition: transform 0.8s ease;
  border-radius: 20px;
  transform: scale(1.5) rotate(720deg);
}

@keyframes cart-hover {
  0% { color: #FFFFFF; transform: scale(1); }
  100% { color: #FFFFFF; transform: scale(1.5) rotate(720deg); }
}

.vehname {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-weight: bold;
}

/* Price of vehicles */
.price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #777;
}

.pricedesc {
  color: white;
  font-size: 10px;
}

.desc {
  color: white;
  font-size: 15px;
  padding: 5px;
}

.shop-container {
  display: grid;
  place-items: center;
  text-align: center;
  margin: 0 auto; 
  max-width: 95%;
}